* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 0 10%;
}

header *{
    margin-bottom: 2%;
}

.rosa {
    height: 150px;
    background-color: pink;
}
.giallo {
    height: 400px;
    background-color: khaki;
}

main {
    background-color: blue;
    width: 100%;
}

main * {
    margin-bottom: 2%;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.riga {
    height: 100px;
    background-color: cyan;
}

.col {
    float: left;
    margin-bottom: ;
}

.col-left, .col-right {
    width: 20%;
    height: 600px;
    background-color: cyan;
}

.col-center {
    width: 58%;
    height: 600px;
    background-color: cyan;
    margin: 0 1%;
}

footer {
    background-color: purple;
    height: 100px;
    margin-top: 2%;
}